<html>
    <head>

    </head>
    <body>
        <h1>Test Form:</h1>
        <form method="post" action="/movie"> <!--sends post request to /movies -->
            Title: <input type="text" name="movie[Title]"><br>
            Genre: <input type="text" name="movie[Genre]"><br>
            Release_Date: <input type="date" name="movie[Release_Date]"><br>
            Rating: <input type="number" name="movie[Rating]"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>